# Test
pytest
pytest-cov
pytest-mock
requests
uvicorn[standard]
types-aiofiles
httpx>=0.25.0
trio

# Linter & Formatter
ruff
mypy
black

# For Notebooks & Data Analysis
jupyterlab
pandas
matplotlib
scikit-learn
