# Test
pytest
pytest-cov
pytest-mock
requests
uvicorn[standard]
python-dotenv
boto3
fastapi
pytest-asyncio

# Development Tools
awscli-local

# Linter & Formatter
ruff
mypy
black

# For Notebooks & Data Analysis
jupyterlab
pandas
matplotlib
scikit-learn
