fastapi
uvicorn[standard]
exparso
python-magic
pillow
python-multipart
boto3
python-dotenv
numpy==1.26.4        # Python 3.11 対応 wheel あり
aioboto3==12.4.0     # 追加したパッケージ
jinja2
pydantic
scikit-learn
httpx
